:root {
   --black-color: #212121;
    --main-title-color: #212121;
    --second-title-color: #212121;
    --white-color: #FFFFFF;
    --blue-color: #2196F3;
    --grey-color: #757575;
    --pre-title: #757575;
}

body {
    font-family: 'Roboto', sans-serif;
    color:var(--white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
 margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color:var(--black-color);
}

.button:hover,
.button:focus {
    color:var(--white-color);
    background:var(--blue-color);
    cursor: pointer;
    box-shadow: 0 4px 4px 0
    rgba(0, 0, 0, 0.25);
}

.expression {
    text-align: center;
}

.header {
    background-color:var(--white-color) ;
    border-bottom: 1px solid #ECECEC;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--blue-color);
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--black-color);

}

.header-nav {
    display: flex;
}

.header-link {
    display:block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--second-title-color);
}

.header-link:hover,
.header-link:focus {
    color:var(--blue-color);
}

.header-list {
   display: flex;
}

.header-item:not(:first-child) {
 margin-left: 50px;
}

.header-info {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.header-contacts:not(:first-child) {
    margin-left: 50px;
}

.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--grey-color);
}
.telephone-icon {
    fill: currentColor;
}

.contact:hover,
.contact:focus {
    color:var(--blue-color);
}

.contact:hover,
.contact:focus {
    color:var(--blue-color);
}

.telephone-icon {
    margin-right: 10px;
}

.expression {
    display: flex;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url(../img/hero-photo.jpg);
    
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.expression-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--white-color);
}

.expression-button {
    font-family: 'Roboto';
    border-radius: 4px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color:var(--white-color);
    background-color: var(--blue-color);
    cursor: pointer;
    min-width: 216px;
}

.advantages-list {
   display: flex;
   gap: 30px;
}
.advantage-box {
    flex-basis: calc((100% - 90px)/4);
}

.advantage-container {
    display: flex;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
    
}

.advantages-item {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--second-title-color);
}

.advantages-paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--pre-title);
}

.activity {
    padding-top: 0;
}

.activity-list {
    display: flex;
    gap: 30px;
}

.activity-item {
    flex-basis: calc(100% - 60px/3);
}

.activity-title {
    font-weight: 700;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-title-color);
}

.team {
  background-color: #F5F4FA;;
}

.team-list {
    display: flex;
    gap: 30px;
}
.member-item {
  width: calc((100% - 90px)/4); 
}

.team-title {
    margin-bottom: 50px;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-title-color);
}

.member-item {
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 
    rgba(0, 0, 0, 0.15);
}

.team-members {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white-color);
}

.team-worker {
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}

.team-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-soc-link {
   width: 44px;
   height: 44px;
   border-radius: 50%;
   background-color: #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #AFB1B8;
}
.team-soc-icon {
    fill: currentColor;
}
.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #2196F3 ;
    color: #FFFFFF;
}

.job {
    font-size: 16px;
    text-align: center;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color:var(--pre-title);
    margin-bottom: 16px;
}



.footer {
    padding-top: 60px;
    background-color: #2F303A;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    gap: 70px;
    align-items: baseline;
}


.footer-logo {
    display: inline-block;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue-color);
}

.header-logo2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 1);
}


.clients {
  background-color: var(--white-color);  
}

.clients-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.clients-partners {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}


.clients-item {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.clients-icon {
   fill: #AFB1B8; 
}

.clients-item:hover, 
.clients-item:focus {
    border-color: var(--blue-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon{
   fill: var(--blue-color) ;
}


.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--white-color);
}

.site-address:not(:last-child) {
    margin-bottom: 9px;
}

.address-email,
.address-telephone {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.join {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

.join-list {
    margin-top: 20px;
}
.join-us {
  display: flex;
  flex-direction: column;
}
.join-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.join-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-color);
}

.join-soc-icon {
    fill: currentColor;
}

.join-soc-link:hover, 
.join-soc-link:focus {
    background-color: var(--blue-color);
}
.poster-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button {
   background-color: #F5F4FA;
}

.button:not(last-child) {
    margin-left: 8px;
}

.portfolio {
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE; ;
    border-right: 1px solid #EEEEEE; ;
}

.portfolio-info {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-item {
    width: calc((100% - 60px) / 3);
    
}

.portfolio-item:hover,
.portfolio-item:focus {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 
    rgba(0, 0, 0, 0.25);
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:not(:ntn-last-child(-n+3)) {
 margin-bottom: 30px;
}

.poster-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--second-title-color);
}

.poster-pretitle {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color:var(--pre-title);
}



