body {
    font-family: 'Roboto', sans-serif;
    color: var(--white-color);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

header,footer,section {
    display: none;
}

.block {
    display: block;
}