.advantages {
    display: flex;
    flex-wrap: wrap;
    gap: $gap30;
}

.advantages__item {
    width: 100%;
    height: auto;
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px)/2);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px)/4); ;
    }
}

.advantages__container {
    @include flex;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.advantages__title {
    @include font(700,14px,1.14,0.03em);
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--second-title-color);
    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.advantages__text {
    @include font(null,14px,1.71,0.03em);
    color: var(--pre-title);
}